.suggestions {
    background-color: #ffffff;
    border: 1px solid #6AA4DA;
    list-style: none;
    margin-top: 0;
    margin-left: 15%;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: 85%;
    position: absolute;
}

.suggestions li {
    padding: 0.5rem;
}

.suggestion-active, .suggestions li:hover {
    background-color: #e9e9e9; 
    color: #fae042;
    cursor: pointer;
    font-weight: 700;
}

.suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #6AA4DA;
}