.admin-home-container {
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 20%;
    display: flex;
    flex-wrap: wrap;
}

.admin-new-buttons {
    display: flex;
    margin-bottom: 20px;
}

.new-city-button {
    flex: 1 1 auto;
    margin-right: 59%;
}

.new-city-org {
    flex: 1 1 auto;
}

.admin-search-city {
    display: flex;
    width: 1000px;
    height: auto;
    margin-bottom: 20px;
}

.admin-search-org {
    display: flex;
    width: 1000px;
    height: auto;
}

.search-input {
    flex: 1 1 auto;
    margin-right: 15px;
    width: 40%;
}

.search-button {
    flex: 1 1 auto;
    margin-top: 6px;
}