.stock-map{
    height: 200px;
    width: 100%;
    background-image: url('../../../images/stock_map_3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.organization-button{
    width: 150px!important;
    background-color: white!important;
}