.stock-map {
    height: 200px;
    width: 100%;
    background-image: url('../../../images/stock_map_3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.organization-button {
    width: 40vw!important;
    margin: auto;
    background: rgba(47, 107, 181, .95);
    border-radius: .25em;
    box-shadow: .5px 1px 1px 0px black;
    padding: .25em;
}

.medicine-translations {
    text-align: center;
    margin: 5%!important;
    margin-bottom: 15%!important;
}

.medicine-button {
    background-color: rgba(47, 107, 181, .95)!important;
    box-shadow: .5px 1px 1px 0px black;
}