:any-link {
    display: inline;
    color: #616161;
    text-decoration: none;
}

.navbar > :any-link {
    color: white;
}

.nav-right {
    margin-left: auto;
}

.account-name {
    display: block;
}

.account-logout {
    display: block;
    text-align: right;
}

.account-icon {
    margin-left: 10px;
    font-size: 3.0rem!important;
}

.logout {
    background-color: bisque;
}