:any-link {
    display: inline;
    color: #616161;
    text-decoration: none;
}

.navbar > :any-link {
    color: white;
}

.nav-right {
    display: flex;
    float: right;
}

.logout {
    background-color: bisque;
}