footer {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 3%;
    bottom:0;
    width:100%;
    height:30px;
    line-height: 30px;
    color: #ADB5BD;
    font-size: .8em;
}
