.container {
  height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
}

.organization-list {
  background-color: #ffffff;
  position: fixed;
  bottom:0;
  height: 90vh;
  width:100%;
}

.back-button {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: +1;
}

.back-button > button {
  background-color: rgba(47, 107, 181, .95);
  box-shadow: 0.5px 1px 2px 0px black;
}

.back-icon {
  color: white;
  font-size: 1.75em!important;
  margin: -.175em;
}

.org-boolean {
  display: flex;
  align-items: center;
  height: 10vh;
}

.org-boolean > svg {
  margin-right: 10px;
}