.info-window {
    position: absolute;
    top: -162px;
    left: -18px;
    background: #a8d3f3;
    border-radius: .4em;
    width: 250px;
    height: 124px;
    z-index: 999980;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info-window:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-top-color: #a8d3f3;
    border-bottom: 0;
    border-left: 0;
    margin-left: -29px;
    margin-bottom: -28px;
}

.pin {
    width: 40px;
    height: 40px;
    border-radius: 50% 50% 50% 0;
    background: #009fe9;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
}

.type {
    font-size: 12pt;
    width: 24px;
    height: 24px;
    margin: 8px 0 0 8px;
    background: #ffffff;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    transform: rotate(45deg);
}

.bounce {
    animation-name: bounce;
    animation-fill-mode: both;
    animation-duration: 1s;
}

@keyframes bounce {
    0% {
        opacity: 0;
        transform: translateY(-2000px) rotate(-45deg);
    }
    60% {
        opacity: 1;
        transform: translateY(30px) rotate(-45deg);
    }
    80% {
        transform: translateY(-10px) rotate(-45deg);
    }
    100% {
        transform: translateY(0) rotate(-45deg);
    }
}